name: Deploy to EC2

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            set -e

            cd ~/cloud-build
            git fetch origin
            git reset --hard origin/master

            # ---- FRONTEND ----
            cd frontend
            npm install
            npm run build
            sudo ln -sfn /home/ubuntu/cloud-build/frontend/dist /var/www/react_app

            # ---- BACKEND ----
            cd ../backend
            npm install --omit=dev
            pm2 restart server

            # ---- NGINX ----
            sudo nginx -t
            sudo systemctl reload nginx
